.post-list {
  padding: 20px;
}

.post-item {
  padding-bottom: 50px;
}

.post-item-title {
  margin-bottom: 10px;
}

.post-item-subtitle {
  margin-bottom: 5px;
  line-height: 1.44;
}

.post-item-content {
  margin: 5px;

  // sass-lint:disable single-line-per-selector
  h1, .h1,
  h2, .h2,
  h3, .h3,
  p {
    margin-bottom: 10px;
  }
  // sass-lint:enable single-line-per-selector
}
