@import '../style/mixins';
@import '../style/variables';

.login-form {
  margin: 30px;
  border-radius: 3px;
  background: $neutral-lighter;
  padding: 80px 30px;
}

.login-form-container {
  transition: all $animation-duration $animation-easing;

  margin: 0 auto;
  border: 0;
  max-width: 250px;

  &[disabled] {
    @include filter(grayscale(100%));
  }
}

.login-form-input {
  margin-bottom: 8px;
  border: 0;
  border-bottom: 2px solid $primary;
  border-radius: 3px;
  padding: 9px;
  width: 100%;
}

.login-form-button {
  border: 0;
  border-radius: 3px;
  background: $primary;
  padding: 8px 12px;
  width: 50%;
}
