@import 'variables';
@import 'mixins';

// Full-height content
html,
body {
  height: 100%;
  font-family: 'PT Serif', serif;
}

body {
  line-height: 1.22;
  color: $neutral-light;
}

// Define heading classes
// sass-lint:disable single-line-per-selector
h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: 'Oswald', sans-serif;
}

h1, .h1 { font-size: $h1-font-size; }
h2, .h2 { font-size: $h2-font-size; }
h3, .h3 { font-size: $h3-font-size; }
h4, .h4 { font-size: $h4-font-size; }
h5, .h5 { font-size: $h5-font-size; }
h6, .h6 { font-size: $h6-font-size; }
// sass-lint:enable single-line-per-selector

a {
  transition: border $animation-duration $animation-easing, color $animation-duration $animation-easing;

  border-bottom: 0px solid transparent;
  cursor: pointer;
  color: $neutral-dark;

  &:hover {
    border-bottom: 4px solid $primary-light;
    color: $neutral;
  }

  &:visited {
    color: $neutral-darker;
  }
}

fieldset {
  border: 0;
}

// Positioning
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.stretch {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

// Overflow
.overflow-hidden {
  @include overflow(hidden, hidden);
}
