@import '~compote/style/reset';

@import 'style/global';
@import 'style/animations';
@import 'style/variables';

@import '~compote/style/flex';
@import '~compote/style/form';

.container {
  margin: 0 auto;
  width: $sm-max;
  max-width: 100%;
}
