@import 'style/reset';
@import 'style/global';
@import 'style/animations';
@import 'style/variables';

@import '~compote/components/flex/style';

// sass-lint:disable no-ids
#container {
  margin: 0 auto;
  width: $sm-max;
  max-width: 100%;
}

#header {
  background: $primary-dark;
}
